<!-- <mat-form-field>
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field> -->
<mat-form-field>
    <input matInput [matDatepicker]="myPicker" (focus)="myPicker.open()" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="myPicker"></mat-datepicker-toggle>
    <mat-datepicker #myPicker></mat-datepicker>
</mat-form-field>
<button mat-button (click)="open()">Open</button>